{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if settings.title %}
        <h3 class="sonata-media-block-media-title">{{ settings.title }}</h3>
    {% endif %}
    <div class="sonata-media-block-media-container">
        {% if media and settings.format%}
            {% media media, settings.format %}
        {% else %}
            {# no media selected or format defined... #}
        {% endif %}
    </div>
    {% if settings.content %}
    <div class="col-12">
        {{ settings.content }}
    </div>
    {% endif %}
{% endblock %}
